@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flicker {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  will-change: top;
}


@layer base {
  body {
    @apply font-poppins;
  }
}

@layer components {
  /* sidebar */
  .sidebarlg {
    @apply w-[18%] h-[100vh] mb-0 block mt-2  p-0 pl-2 pb-3;
  }
  .logolg{
    @apply flex-col h-[99%] justify-start ;
  }
  .optionslg {
    @apply flex-col justify-center space-x-0 space-y-2  mt-10;
  }
  .optionlg {
    @apply w-full;
  }

  /* Hero */
  .herolg {
    @apply h-[97%] w-[80%] ml-[19%] mt-2 items-start justify-start fixed;
  }
}
